################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MKBezbednost/.vs/MKBezbednost
/MKBezbednost/DataLayer/obj
/MKBezbednost/MKBezbednost_Members/obj
